/* 基础重置和字体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #ece9e6, #ffffff); */
    background: linear-gradient(to right, #03a3cb, #b6ecf6); /* 渐变色从浅蓝到深蓝 */
}

/* 默认隐藏 Skip to Content 链接 */
a[href="#main-content"] {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* 当元素获得焦点时显示 */
a[href="#main-content"]:focus {
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    top: 10px; /* 可以调整为适合您网站的位置 */
    left: 10px; /* 同上 */
    background-color: #fff; /* 背景色 */
    color: #000; /* 文本颜色 */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
}

/* 导航栏样式 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}

h1 {
    font-size: 100px;
    color: yellow;
}

h2 {
    font-size: 30px;
    color: #006400;
}

/* 标题样式 */
h1, h2 {
    text-align: center;
}

/* 主要内容区域 */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* 宠物容器样式 */
.petContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* 设置固定宽度 */
    margin: 15px; /* 适当的外边距 */
}

/* 宠物信息样式 */
.petInfo {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    text-align: center;
    color: yellow;
}

.petHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer button {
    margin: 0 5px;
}

/* 宠物画廊样式 */
.imageGallery {
    position: relative; /* 设置相对定位 */
    text-align: center;
    max-width: 400px;
    margin-top: 10px;
}

.imageGallery img, .imageGallery video {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

/* 按钮样式 */
.imageGallery button {
    position: absolute; /* 设置绝对定位 */
    top: 50%; /* 将按钮垂直居中 */
    transform: translateY(-50%); /* 确保精确居中 */
    background-color: #006400;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.imageGallery button:first-of-type {
    left: 10px; /* 左侧按钮位置 */
}

.imageGallery button:last-of-type {
    right: 10px; /* 右侧按钮位置 */
}


button:hover {
    background-color: #004d00;
}

/* 响应式布局 */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    main {
        justify-content: center;
    }

    .petContainer {
        width: 100%; /* 小屏幕下全宽度显示 */
    }
}
