/* 基础重置和字体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(169, 169, 169);
    background-image: url(../images/background/malu.jpg);
    z-index: -10;
}

/* 默认隐藏 Skip to Content 链接 */
a[href="#main-content"] {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* 当元素获得焦点时显示 */
a[href="#main-content"]:focus {
    position: fixed;
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-size: large;
}

/* 导航栏样式 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../images/background/dalishi.jpg');
    display: flex;
    justify-content: center;
    justify-content: center;
    height: 70px;
}

nav li {
    float: left;
}

nav a {
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #484747;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: black;
    background-image: url('../images/background/hua.jpg');
    text-align: center;
    margin-top: 0; /* 移除上边距 */
    margin-bottom: 0; /* 移除下边距 */
    padding-top: 10px;
    height: 130px;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#map {
    width: 70%;
    height: 800px;
    margin: 5px;
    border: 5px dashed green;
    border-radius: 30px;
}

#park-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 760px;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    margin: 5px;
    border: 5px dashed green;
    border-radius: 30px;
}

#park-name {
    width: 100%;
    font-family: "Sriracha", serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #000;
}

#park-description {
    margin-top: 20px;
    font-size: 35px;
    font-family: "Caveat", serif;
    color: red;
    width: 100%;
}

#park-images img {
    width: auto; /* Allows the image width to adjust based on its natural aspect ratio */
    height: 300px; /* Set your desired fixed height here */
    object-fit: cover; /* This will ensure the image covers the area, potentially cropping it */
    object-position: center; /* Centers the image within its frame */
    display: block; /* Display as a block element */
    margin-top: 30px;
    margin-left: auto; /* Auto margin for center alignment */
    margin-right: auto; /* Auto margin for center alignment */
    overflow: hidden;
    max-width: 500px;
}

#parks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5; /* 或您选择的背景颜色 */
    color: aqua;
    font-family: "Sriracha", serif;
}

#parks-list div {
    margin: 5px;
    padding: 5px 10px;
    background-color: black; /* 或您选择的背景颜色 */
    border: 1px solid #ddd; /* 边框样式 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停时的手形指针 */
    font-size: medium;
    height: 15px;
}

#initial-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: red; /* 文本颜色 */
    padding: 20px; /* 添加一些内边距 */
    font-size: 60px;
    font-family: 'Gloria Hallelujah', cursive;
}

#reset-button {
    margin: 5px;
    padding: 0px;
    background-color: #e0e0e0; /* 或您选择的背景颜色 */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Sriracha", serif; /* 或您选择的字体 */
    color: blueviolet;
    font-size: medium;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    nav a {
        font-size: 20px;
    }

    nav ul{
        height: 50px;
    }

    h1 {
        font-size: 60px;
        padding-top: 10px;
        height: 80px;
    }

    #initial-message {
        font-size: 30px;
    }

    #park-description {
        font-size: 20px;
    }

    #park-name {
        font-size: 30px;
    }
}