/* 基础重置和字体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background/mutou.jpg");
}

/* 默认隐藏 Skip to Content 链接 */
a[href="#main-content"] {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

p {
    font-family: "Kalam", serif;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}

span {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    color: white;
    background-color: black;
}

.recipe-container h2 {
    font-family: "Sriracha", serif;
    color: yellow;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.recipe-container span {
    display: inline-block; /* 或者只是 inline，取决于您的布局需求 */
    margin-top: 3px; /* 减少与上方元素的间隔 */
    margin-bottom: 10px; /* 增加下边距 */
}

.collapsible, .toggle-button{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

/* 当元素获得焦点时显示 */
a[href="#main-content"]:focus {
    position: fixed;
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
        font-size: large;
}

/* 导航栏样式 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../images/background/dalishi.jpg');
    display: flex;
    justify-content: center;
    justify-content: center;
    height: 70px;
}

nav li {
    float: left;
}

nav a {
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #484747;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: rgb(254, 4, 233);
    background-image: url('../images/background/hua.jpg');
    text-align: center;
    margin-top: 0; /* 移除上边距 */
    margin-bottom: 0; /* 移除下边距 */
    padding-top: 10px;
    height: 130px;
}

/* 主要内容区域 */
main {
    padding: 20px;
}

/* 主内容区域样式 */
#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* 食谱容器样式 */
.recipe-container {
    width: 48%; /* 或您之前设置的宽度 */
    margin-bottom: 20px; /* 添加一些间隔 */
    border: 5px dashed #4CAF50;
    border-radius: 5px;
    text-align: center; /* 添加此行以居中文本 */
}

.recipe-container img {
    height: 300px; /* 保持图片的原始宽高比 */
    width: auto; /* 让图片宽度适应容器 */
    border-radius: 8px; /* 如有需要，可保留圆角 */
    display: block;
    margin: auto; /* 添加此行以居中图片 */
}

/* 筛选器容器样式 */
#recipe-filter {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between; /* 使按钮均匀分布 */
    padding: 10px; /* 如需要，可调整内边距 */
}

/* 筛选器按钮样式 */
#recipe-filter button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* 添加 transform 到过渡效果 */

    font-size: 30px; /* 增加字体大小 */
    font-family: 'Caveat', sans-serif;/* 可以选择一个您喜欢的字体 */
    font-weight: bold; /* 加粗字体 */
}

/* 鼠标悬停时的按钮样式 */
#recipe-filter button:hover {
    background-color: #367c39;
    transform: scale(1.1); /* 鼠标悬停时放大 */
}

/* 图片模态窗口样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.6);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

.collapsible {
    display: none;
}

.toggle-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #367c39;
}

.fixed {
    position: fixed;
    top: 0;
    width: 96%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* 如果您有一个页眉或其他固定内容，您可能需要调整此值 */
body.fixed-padding {
    padding-top: 0px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    nav a {
        font-size: 20px;
    }

    nav ul{
        height: 50px;
    }

    h1 {
        font-size: 60px;
        padding-top: 0px;
        height: 80px;
    }

    .recipe-container {
        padding: 10px;
        margin-bottom: 20px;
    }

    .recipe-container img {
        width: 100%;
        height: auto;
    }

    .toggle-button {
        padding: 10px 15px;
        font-size: 16px;
    }

    #recipe-filter {
        margin-left: 5px;
        margin-right: 5px;
    }

    #recipe-filter button {
        font-size: 20px;
        padding: 5px 10px;
    }

    /* 其他必要的样式调整 */
}
