/* 基础重置和字体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #ece9e6, #ffffff); */
}

/* 默认隐藏 Skip to Content 链接 */
a[href="#main-content"] {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* 图片淡入和淡出的动画 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.imageGallery img {
    animation-name: fadeIn;
    animation-duration: 1s; /* 淡入效果的持续时间 */
    animation-fill-mode: both; /* 在动画之前和之后应用动画的样式 */
}

/* 当元素获得焦点时显示 */
a[href="#main-content"]:focus {
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    top: 10px; /* 可以调整为适合您网站的位置 */
    left: 10px; /* 同上 */
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    font-size: large;
}

/* 导航栏样式 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../images/background/dalishi.jpg');
    display: flex;
    justify-content: center;
    justify-content: center;
    height: 70px;
}

nav li {
    float: left;
}

nav a {
    font-family: "Comic Sans MS", cursive;
    font-size: 30px;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #484747;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: rgb(254, 4, 233);
    background-image: url('../images/background/hua.jpg');
    text-align: center;
    margin-top: 0; /* 移除上边距 */
    margin-bottom: 0; /* 移除下边距 */
    padding-top: 10px;
    height: 130px;
}

h2 {
    font-size: 30px;
    color: #006400;
    text-align: center;
}

/* 主要内容区域 */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-image: url('../images/background/caodi.jpg');
}

/* 宠物容器样式 */
.petContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* 设置固定宽度 */
    margin: 15px; /* 适当的外边距 */
    background-image: url('../images/background/shitou.jpg');
    z-index: 1;
}

/* 宠物信息样式 */
.petInfo {
    margin-top: 10px;
    border: 5px dashed #ccc;
    padding: 10px;
    display: none;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.petHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer button {
    background: none; /* 移除背景色 */
    border: none; /* 移除边框 */
    padding: 0; /* 移除填充 */
    cursor: pointer; /* 保持指针样式 */
    margin-left: 20px;
    margin-right: 20px;
}

.buttonContainer button img {
    width: 50px; /* 根据需要调整宽度 */
    height: auto; /* 保持图片比例 */
}


/* 宠物画廊样式 */
.imageGallery {
    position: relative; /* 设置相对定位 */
    text-align: center;
    max-width: 400px;
    margin-top: 10px;
}

.imageGallery img, .imageGallery video {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

/* 按钮样式 */
.imageGallery button {
    position: absolute; /* 设置绝对定位 */
    top: 50%; /* 将按钮垂直居中 */
    transform: translateY(-50%); /* 确保精确居中 */
    background-color: #006400;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.imageGallery button:first-of-type {
    left: 10px; /* 左侧按钮位置 */
}

.imageGallery button:last-of-type {
    right: 10px; /* 右侧按钮位置 */
}

.buttonContainer:hover {
    transform: scale(1.2); /* 放大到原来的1.05倍 */
}

.petContainer {
    border: 5px dashed rgb(247, 15, 11); /* 选择一个亮丽的颜色 */
    border-radius: 15px; /* 圆角边框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影 */
    margin: 20px;
    padding: 20px;
    background-color: white; /* 背景色 */
    transition: box-shadow 0.3s, transform 0.3s; /* 平滑阴影和变形变化效果 */
    transform: scale(1); /* 初始比例 */
}

.petContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 鼠标悬停时的阴影更深 */
    transform: scale(1.05); /* 放大到原来的1.05倍 */
}

.petName {
    background: none;
    border: none;
    color: rgb(247, 35, 247);
    font: inherit;
    cursor: pointer;
    font-size: 35px;
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-weight: 800; /* 稍微加粗 */
}

.petName:hover {
    text-decoration: underline;
    transform: scale(1.05); /* 放大到原来的1.05倍 */
}
.petName:focus {
    text-decoration: underline; /* 鼠标悬停或聚焦时显示下划线 */
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        line-height: 1.6;
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    nav a {
        font-size: 20px;
    }

    nav ul{
        height: 50px;
    }

    h1 {
        font-size: 60px;
        padding-top: 0px;
        height: 80px;
    }

    /* 让图片在小屏幕上更适应 */
    img {
        max-width: 100%;
        height: auto;
    }

    /* 调整宠物介绍区域的布局 */
    .pet-section {
        margin: 10px;
        padding: 10px;
        font-size: smaller;
    }

    /* 调整按钮大小和字体，使其在小屏幕上易于点击 */
    .button {
        padding: 10px 15px;
        font-size: 14px;
    }
}


